.search-bar{
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-top: 20vh;
    height: 5ch;
    width: 38vw;
    border: solid gray 2px;
    border-radius: 10px;
    margin-left: 10vw;
    overflow: hidden;
    transition: all 0.3s ease;
    background-color: white;
}

.search-bar:focus-within{
    border-color: black;
    box-shadow: 0 0 0 3px rgba(0,0,0,0.2);
    transform: translateY(0.9);
}
.search-icon{
    position: absolute;
    top: 9px;
    left: 5px;
}

.search-bar img{
    /* position: absolute; */
    height: 30px;
    width: 30px;
    object-fit: cover;
    margin-right: 10px;
    left: 6px;

}

.search-placeholder{
    position: absolute;
    top: 9px;
    left: 36px;
    width: 100%;
    height: 100%;

    & input{
        margin-top: 6px;
        width: 100%;
        border: none;
        outline: none;
        /* height: 100%; */

    }

}
.search-row{
    display: flex;
    align-items: center;
    width: 100%;
}

.add-admin-user{
    margin-left: 32vw;
    /* margin-right: 10px; */
    /* position: absolute; */
    left: 50vw;
    margin-top: 19vh;
    padding: 0.3rem 0.6rem;
    border: none;
    border-radius: 5px;
    background-color: var(--button-green);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    & button{
        /* margin-left: auto;
        margin-right: 10px; */
        padding: 0.3rem 0.6rem;
        border: none;
        border-radius: 5px;
        background-color: var(--button-green);
        color: white;
        cursor: pointer;
    
    }


}
.add-admin-user:hover{
    transform: translateY(-3px);
    box-shadow: 0 0 10px var(--button-green);
}

.user-grid{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin-top: 4vh;
    margin-left: 10vw;
    width: 80vw;

    gap: 50px;
}


.user-card{
    display: flex;
    flex-direction: column;
    border: solid var(--primary-border-color) 2px;
    box-shadow: var(--primary-box-shadow);
    height: 30vh;
    border-radius: 10px;
    padding: 2rem 1.5rem;
    background-color: white;
}

.user-info{
    display: flex;
}
.card-pfp{
    flex: 2;
}
.card-name{
    flex: 9;
    margin-top: -15px;

    & .card-rating{
        margin-top:  -13px;
    }
    & p{
        font-size: 0.8rem;
        color: var(--grey);
    }
}
.card-role{
    flex:1;
    justify-content: flex-end;

    & p{
        color: var(--dark-green);
    }
}

.card-role p{
    background-color: rgb(185, 244, 185);
    padding: 0.2em 0.5rem;
    border-radius: 10px;
}


.pfp-card-img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.user-stats{
    display: flex;
    background-color: rgb(238, 235, 235);
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    margin-top: 13px;
    justify-content: space-around;
}
.user-stats p{
    margin-top: 10px;
    color: gray;
}
.user-stats-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-contacts{
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    width: 100%;
}

.user-contacts-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    & button{
        margin-top: 35px;
        /* margin-left: 30px; */
        text-decoration: none;
        color: black;
        border: solid 2px gray;
        border-radius: 5px;
        min-width: 120px;
        padding: 0.2rem 1rem;
        background-color: white;
        cursor: pointer;
    }

    & .unban-btn{
        background-color: rgb(181, 255, 171);
    }
}

.user-contacts p{
    color: var(--grey);
}


/* driver pop up */
.driver-popup-container{
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;
}

.driver-popup{
    width: 800px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid var(--primary-border-color);
    box-shadow: var(--primary-box-shadow);
    padding: 0px 20px 20px 20px;
    position: relative;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    transition: transform 0.3s ease;
    transform: translateX(0px);
}

.driver-popup.shifted{
    transform: translateX(-100px);
}


.close-driver-popup-button{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    transition: box-shadow 0.5s;

    position:absolute;
    right: 15px;
    top: 15px;
}

.close-driver-popup-button:hover{
    box-shadow: 0px 0px 5px var(--button-green);
    cursor: pointer;
}

.close-driver-popup-icon{
    width: 10px;
    height: 10px;
}


.driver-popup-row-1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;

    & p{
        color: var(--grey);
        margin-top: 15px;
    }

    & button{
        margin-top: 9px;
        border: none;
        border-radius: 10px;
        padding: 0.1rem 0.5rem;
        cursor: pointer;
    }
    
}

.popup-pfp{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: none;
    border-radius: 50%;
}

.popup-role{
    display: flex;
    align-items: center;
    justify-content:center;
    /* border: solid 2px gray; */
    gap: 20px;
    
    /* padding: 3px 8px; */
    border-radius: 5px;
    margin: 0.5rem 0rem;

    & .user-role{
        /* border: solid 2px black; */
        border-radius: 5px;
        padding: 0.3rem 0.5rem;
        color: black;
        background-color: var(--green-bg-color);
    }

    & .user-status{
        border-radius: 5px;
        /* border: solid 2px black; */
        padding: 0.3rem 0.5rem;
        color: var(--dark-green);
        background-color: var(--green-bg-color);
        
    }
    
}

.stars i{
    color: lightgrey;
    font-size: 18px;
}
.stars i.highlighted{
    color: gold;
    font-size: 18px;
}

.driver-popup-row-2{
    display: flex;
    justify-content: space-evenly;
}

.driver-popup-row-2 div{
    height: 75px;
    width: 230px;
    border: 1px solid var(--primary-border-color);
    border-radius: 10px;
    box-shadow: var(--primary-box-shadow);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-container, .license-container{
    background-color: var(--grey-bg-color);
    box-shadow: var(--primary-box-shadow);
    border: 1px solid var(--primary-border-color);
    border-radius: 10px;
    padding: 15px;
    margin: 0px 1.3rem;
}

.contact-container p, .license-container p{
    margin-top: 5px;
}

.license-status-container{
    display: flex;
    justify-content: space-between;
}

.license-status-container div{
    background-color: var(--button-green);
    color: white;
    padding: 3px 8px;
    border: none;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.rating-popup-container{
    /* background-color: rgba(0,0,0,0.8); */
    position: fixed;
    top: 80px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    display: flex;
    justify-content: flex-end;
    align-items: center; 
    animation: fadeIn 0.3s ease;   
}

.rating-popup{
    margin-right: 48px;
    width: 300px;
    height: 610px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid var(--primary-border-color);
    box-shadow: var(--primary-box-shadow);
    padding: 0px 20px;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;    

}



.close-rating-popup-button{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    transition: box-shadow 0.5s;

    position:absolute;
    right: 15px;
    top: 15px;
}

.close-rating-popup-button:hover{
    box-shadow: 0px 0px 5px var(--button-green);
    cursor: pointer;
}

.close-rating-popup-icon{
    width: 10px;
    height: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.rating-row{
    display: flex;
    flex-direction: column;
    height: 100%;
    /* min-height: 0; */
    /* background-color: brown; */
    /* align-items: center; */

}

.rating-grid{
    /* background-color: red; */
    display: grid;
    grid-template-columns: 1fr;
    flex: 1;
    overflow-y: auto;
    /* overflow-x: hidden; */
    gap: 10px;
}



.rater-pfp{
    height: 50px;
    width: 50px;
}

.rating-card{
    border-radius: 10px;
    border: solid 2px var(--grey);
    margin: 0.5rem 0.1rem;
    padding: 1rem 1rem;
}

.rating-header{
    display: flex;
    /* border: solid 2px blue; */
    /* background-color: grey; */

}

.rating-info{
    background-color: var(--grey-bg-color);
    margin-top: 10px;
    padding: 0.3rem 0.3rem;
    display: flex;
    flex-direction: column;

    word-wrap: break-word;      /* Older browsers */
    overflow-wrap: break-word;   /* Modern standard */
    word-break: break-word;      /* Extra insurance for long words */
    & p{
        margin: 0.3rem 0rem;
    }
}

@media (max-width: 812px){
    .user-grid{
        display: grid;
        grid-template-columns: 1fr ;
        margin-top: 4vh;
        margin-left: 10vw;
        width: 80vw;

        gap: 50px;
    }

    .driver-popup{
        width: 400px;
        height: 600px;
        background-color: white;
        border-radius: 10px;
        border: 1px solid var(--primary-border-color);
        box-shadow: var(--primary-box-shadow);
        padding: 0px 20px 20px 20px;
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        transition: transform 0.3s ease;
        transform: translateX(0px);
    }  

    .search-bar{
        position: relative;
        display: flex;
        align-items: center;
        padding: 5px;
        margin-top: 20vh;
        height: 5ch;
        width: 78vw;
        border: solid gray 2px;
        border-radius: 10px;
        margin-left: 10vw;
        overflow: hidden;
        transition: all 0.3s ease;
        background-color: white;
    }

    .add-admin-user{
        min-width: 15vw;
        margin-left: 5vw;
        & button{
            /* margin-left: auto;
            margin-right: 10px; */
            padding: 0.3rem 0.6rem;
            border: none;
            border-radius: 5px;
            background-color: var(--button-green);
            color: white;
            cursor: pointer;
        
        }
    }
}
.signup-popup-section{
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1001;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.signup-popup-container{
    background-color: white;
    border: 1px solid var(--primary-border-color);
    box-shadow: var(--primary-box-shadow);
    border-radius: 10px;
    padding: 20px 25px;
    margin-top: 5px;
    position: relative;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.signup-popup-container p {
    margin-top: 10px;
}

.sign-up-form {
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sign-up-form input{
    width: 90%;
    background-color: var(--grey-bg-color);
    border: 1px solid var(--primary-border-color);
    box-shadow: var(--primary-box-shadow);
    margin-top: 5px;
    border-radius: 5px;

    padding: 10px 10px 10px 15px;
    
}

.sign-up-form label{
    display: block;
}

.sign-up-form div{
    margin-top: 20px;
}

.sign-up-form button{
    margin-top: 30px;
    color: white;
    padding: 10px 0px;
    border: none;
    border-radius: 5px;

    background-color: var(--button-green);

    transition: background-color 0.5s;
}

.sign-up-form button:hover{
    cursor: pointer;

    background-color:rgb(5, 174, 118) ;
}

.log-in-link{
    align-self: center;
}

.log-in-link a{
    color: var(--dark-green);
    text-decoration: none;
}

#gender{
    margin-top: 15px;
    margin-bottom: -10px;
    /* font-weight: bold; */
}

.radio-group{
    display: flex;
    gap: 15px;
    align-items: center;
    

    & label{
        cursor: pointer;
        width: 150px;
        text-align: center;

    }

    & input{
        border: solid 2px black;
        height: 2vh;
    }
}

.close-popup-button{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    transition: box-shadow 0.5s;

    position:absolute;
    right: 15px;
    top: 15px;
}

.close-popup-button:hover{
    box-shadow: 0px 0px 5px var(--button-green);
    cursor: pointer;    
}

.close-popup-icon{
    height: 10px;
    width: 10px;
}