/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */


/* 
body{
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;

} */
html{
    scroll-behavior: smooth;
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 8ch; */
    background-color: var(--green-bg-color);
    border-bottom: solid 1px black;
    z-index: 999;
}

.navBar{
    display: flex;
    padding: 0.5rem 1.5rem;
    justify-content: space-between;
    align-items: center;

}

.logo-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px; 

}

.logo{
    cursor: pointer;
    font-size: 3ch;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: black;

}
.logo-img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}


.user-info{
    display: flex;
    flex-direction: start;

}
.user-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-pfp{
    flex: 1;
    padding-right: 0.5rem;
    cursor: pointer;
}

.user-name{
    flex: 1;
    padding-right: 0.5rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;

}

.pfp-img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.logout{
    margin-left: 1rem;
    margin-right: -1rem;
}

.logout-img{
    height: 40px;
    width: 40px;
    cursor: pointer;
}
/* Add this to prevent horizontal scroll */
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

/* Fix the admin-dashboard
.admin-dashboard {
    z-index: 999;
    margin-top: 100px;
    background-color: rgb(241,244,250);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 3ch 10vw; 
    flex-direction: column;    
} */

.admin-dashboard1{
    display: flex;
    height: 100px;
    align-items: center;
    padding: 1ch 5vw;
    margin-top: 100px;
}

.admin-container {
    /* Remove or reduce margin-left */
    margin-left: 0;
}

.choices {
    display: flex;
    list-style: none;
    gap: 70px;
    align-items: center;
    /* margin-left: -10px;  */
    padding-left: 0; 
}
.choices a {
    display: inline;
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 15px;
    transition: color 0.2s ease;
    /* border: solid 2px black; */
    padding: 8px;
 
}

.choices a:hover{
    color: rgb(1, 255, 77);
    transform: translateY(-4px);
    border-bottom: solid 2px rgb(1, 255, 77);
} 

.choices a.active{
    color: rgb(1, 255, 77);
    border-bottom: solid 2px rgb(1, 255, 77);
}

hr{
    margin-top: -1px;
}

@media (max-width: 500px){
    .admin-dashboard{
        z-index: 999;
        margin-top: 100px;
        background-color: rgb(241,244,250);
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        /* align-items: center; */
        padding: 3ch 0;
        flex-direction: column;    
    }
}