.reports-nav{
    display: flex;
    justify-content: flex-start;
    margin-top: 3vh;
    margin-left: 10vw;
    align-items: center;
    gap: 20px;
    
    /* & ul{
        display: flex;
        padding-top: 2rem;
        list-style: none;
        gap: 30px;
    
        & li{
            border: solid 2px gray;
            padding: 0.5rem 1rem;
            border-radius: 10px;
            text-align: center;
        }

        & li:hover{
            background-color: blue;
        }
    } */

    & button{
        border: solid 2px black;
        text-align: center;
        padding: 0.5rem 1rem;
        width: 9vw;
        border-radius: 10px;
        font-weight: bold;
        font-size: 2ch; 
        text-decoration: none;
        color: black;
        transition: all 0.3s ease;
        cursor: pointer;
    }

    & button:hover{
        transform: translateY(-3px);
        background-color: rgb(206, 253, 226);
    }

}


.section{
    margin-bottom: 50px;
}

/* .section-title{
    margin-top: 4vh;
    margin-left: 10vw;
} */

.user-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5vh;
    margin-left: 10vw;
    width: 80vw;
    gap: 50px;

}

.user-card{
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    box-shadow: var(--primary-box-shadow);
    padding: 2rem 1.5rem;
    border-radius: 10px;
    max-width: 38vw;

}

.user{
    display: flex;
    padding-bottom: 1rem;
    position: relative;

}

.arrow{
    margin-top: 1.5vh;
    flex: 3
}

.pfp{
    flex: 4;
}
.username{
    margin-top: -18px;
    padding-top: 0.3rem;
    flex: 10;

    & p{
        margin-top: -6px;
        font-size: 15px;
    }
}
.status{
    /* flex: 1; */
    position: absolute;
    left: 30vw;
}
.card-pfp-img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.status p{
    margin-top: -10px;
    border: solid 2px orange;
    padding: 0.2em 0.5rem;
    border-radius: 10px;
    color: orange;
}

.options{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 13px;

}

.button button{
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 5px;
    width: 17vw;
    height: 4vh;
}

#approve{
    background-color: rgb(98, 223, 98);
}
#reject{
    background-color: rgb(250, 60, 60);
}

.report{
    background-color: rgb(238, 235, 235);
    min-height: 3vh;
    border-radius: 10px;
    padding: 0rem 1.5rem;
    padding-bottom: 0.8rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;


    word-wrap: break-word;      /* Older browsers */
    overflow-wrap: break-word;   /* Modern standard */
    word-break: break-word;      /* Extra insurance for long words */

    & h3{
        /* margin-top: -0.5px; */
        margin-bottom: 5px;
    }
}