/* Header */
.landing-header{
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 30px;
    margin-right: 20px;
  }