

/* Leaderboard Introduction */
.intro-section{
  margin-top: 10px;
  height: 130px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.leaf-logo{
  width: 70px;
}

.intro-section h1{
  font-size: 25px;
}

.intro-section p{
  font-size: 12px;
  color: var(--grey);
}


/* CO2 stats */
@media (max-width: 768px){
  .stats-section{
    background-color: var(--green-bg-color);
    border: none;
    border-radius: 10px;
    height: 150px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 769px){
  .stats-section{
    background-color: var(--green-bg-color);
    border: none;
    border-radius: 10px;
    height: 200px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.kg-stat{
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-section h1{
  font-size: 30px;
  color: var(--dark-green);
}

.stats-section p{
  font-size: 12px;
  color: var(--grey);
}



/* leaderboard */
.top-3-leaderboard{
  height: 100px;
  display: flex;
  align-items: end;
  margin: 75px 17px 0px 17px;
  
}

.top-3-user-card{
  border: 1px solid rgb(0, 0, 0);
  border-top-left-radius: 20px ;
  border-top-right-radius: 20px ;
  flex: 1;
  padding:0px 10px;
  

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.top-3-user-card.rank-1{
  height: 100px;
  background-color: rgb(253, 232, 138) ;
}

.top-3-user-card.rank-2{
  height: 100px;
  background-color: #d6d6d6;
  border-left: none;
}

.top-3-user-card.rank-3{
  height: 75px;
  background-color: #f2c394;
  border-left: none;

}

.top-3-stats{
  font-size: 14px;
  font-weight: 700;
  color: var(--dark-green);
}

.top-3-leaderboard{
  display: none;
}

@media (max-width: 500px ){
  .leaderboard-section{
    margin: 20px 10px;
  
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 501px){
  

  .leaderboard-section{
    margin: 20px 10px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

@media (min-width: 769px){
  .leaderboard-section{
    margin: 20px 30px;

    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 10px;
  }
}


.leaderboard-user-card{
  background-color: white;
  height: 100px;
  border: none;
  border-radius: 10px;
  padding: 0px 15px;
  margin-top: 10px;
  box-shadow: 0px 0px 3px rgba(169, 169, 169, 0.85);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leaderboard-user-card.top-3{
  border: 1px solid var(--dark-green);
}

.user-card-left{
  display: flex;
  justify-content: start;
  align-items: center;
}

.ranking-div{
  margin-right: 10px;
}

.ranking-circle{
  width: 40px;
  height: 40px;

  background-color: lightgray;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 700;
  font-size: 14px;
  color: rgb(92, 92, 92);
}

.leaderboard-user-card.rank-1 .ranking-circle{
  background-color: rgb(253, 232, 138) ;
  color: rgb(157, 115, 0);
}

.leaderboard-user-card.rank-2 .ranking-circle{
  background-color: rgb(228, 228, 228) ;
  color: rgb(131, 131, 131);
}

.leaderboard-user-card.rank-3 .ranking-circle{
  background-color: rgb(255, 193, 85) ;
  color: rgb(128, 85, 0);
}

.username{
  font-weight: 700;
  font-size: 14px;
}

.user-role, .stats-unit{
  font-weight: 100;
  font-size: 14px;
  color: rgb(140, 140, 140);
}

.user-card-right{
  width: 70px;
  text-align: end;
}

.stats{
  font-weight: 700;
  color: green;
  font-size: 18px;
}

.stats-unit{
  font-weight: 100;
  font-size: 12px;
  color: rgb(140, 140, 140);
}

/* explanation section */
.explanation-section{
  box-shadow: 0px 0px 3px lightgray;
  border: 1px solid lightgrey;
  margin: 15px 10px;
  border-radius: 10px;
  padding: 10px;
}

@media (min-width: 769px){
  .explanation-section{
    box-shadow: 0px 0px 3px lightgray;
    border: 1px solid lightgrey;
    margin: 20px 30px;
    border-radius: 10px;
    padding: 10px;

  }
  
}
.explanation-title{
  font-weight: 700;
  font-size: 14px;
}

.explanation-desc{
  margin-top: 5px;
  font-size: 13px;
  color: grey;
}