body{
    font-family: sans-serif;
}
#map{
    height : 790px;
}

.formBlock{
    max-width: 440px;
    /* max-height: 150px; */
    background-color: white;
    border: 1px solid #ddd;
    position: absolute;
    top: 7px;
    /* left: 10px; */
    padding: 10px;
    z-index: 999;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    border-radius: 5px;
    width: 100%;
}


.big-container{
    background-color: rgb(247, 245, 245);
    bottom: 0;
    left: 0;
    height: auto;
    min-height: 200px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    padding: 10px;
    box-sizing: border-box;

    /* & h4{
        text-align: center;
        margin-top: 15px;
    } */
}       

.infoContainer{
    position: relative;
    bottom: auto;
    left: auto;
    display: flex;
    gap: 10px;
    z-index: 1000;
    margin-top: 10px;

    & button{
        background-color: white;
        width: 95px;
        border-radius: 10px;
        padding: 10px;
        border: 1px solid #ddd;
        cursor: pointer;
    }
}


.infoBlock{

    background-color: white;
    border-left: 4px solid #4a9; 
    text-align: center;
    z-index: 999;
    min-width: 120px;
    flex: 1;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    padding: 15px;
    font-size: 14px;
}
#distance{
    flex: 1;
}

#eta{
    flex: 1;
}

input{
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 13px;
    border-radius: 3px;
    margin-top: 10px;
}

.leaflet-top, .leaflet-bottom{
    margin-left: 1630px;
    /* margin-top: 160px; */
}

.rideInfoContainer{
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    z-index: 1002;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    gap: 10px;
    margin-bottom: 10px;
}
.rideInfoBlock{
    flex: 2;
    min-width: 150px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 2px solid #007BFF;
    border-radius: 5px;
    cursor: pointer;
    background: white;
    position: relative;

    & .selected-text{
        /* margin-top: 100px; */
        font-size: 14px;
    }
}
.vehicle-options{
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    border: 2px solid transparent;
    border-top: none;
    background: white;
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;

    & div{
        padding: 8px;
        cursor: pointer;
    }

    & div:hover{
        background: #007BFF;
        color: white;
    }
}

.seatsBlock{
    flex: 1;
    min-width: 100px;
    border: 2px solid gray;
    border-radius: 5px;
    cursor: pointer;
    background: white;
    position: relative;
    transition: all 0.3s ease;

    & input{
        border: none;   
        outline: none;
        margin-top: 0;
        height: 100%;
        width: 100%;
    }
}

.seatsBlock:focus-within{
    border-color: black;
    box-shadow: 0 0 0 3px rgba(0,0,0,0.2);;
    transform: translateY(0.9);
}
.departureContainer{
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    max-width: 100%;
    z-index: 999;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
    margin-bottom: 10px;
}
.departureBlock{
    /* position: absolute; */
    /* margin-top: -8px; */
    width: 100%;
    /* border: 2px solid #FFC107; */
    /* border-radius: 5px;
    cursor: pointer;
    background: white; */
    /* z-index: 1001; */
}

.button-container:hover{
    cursor: pointer;
}
/* .suggestions {
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 4px;
    z-index: 100000;
    display: none;
}

.suggestions div {
    padding: 10px;
    cursor: pointer;
}

.suggestions div:hover {
    background: #f0f0f0;
} */
/* @media (max-width: 480px) {
    .formBlock{
        font-size: 13px;
        padding: 10px;
    }

    .formBlock input{
        font-size: 13px;
        padding: 10px;
    }

    .infoBlock{
        padding: 10px 6px;
        font-size: 11px;
    }

    .infoBlock strong{
        display: block;
        font-size: 10px;
    }

    .rideInfoBlock .selected-text{
        font-size: 14px;
    }

    .seatsBlock input{
        font-size: 14px;
    }

    .departureBlock input{
        font-size: 14px;
    }
} */