.passenger-greeting-section{
    background-color: rgb(255, 255, 255);
    border: 1px solid var(--primary-border-color);
    box-shadow: var(--primary-box-shadow);
    border-radius: 10px;
    margin: 20px 10px;
    margin-bottom: 0px;
    padding: 15px 20px;
}

.greeting-desc{
    margin-top: 5px;
}

/* environment + search section */
/* @media (min-width: 601px){
    .environment-search-section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
    
} */

/* environmental impact */
.environment-impact-section{
    display: flex;
    justify-content: center;
}

.environment-impact-container{
    background-color: var(--green-bg-color);
    padding: 15px;
    margin: 20px 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    border: 1px solid var(--primary-border-color);
    box-shadow: var(--primary-box-shadow);
    width: 420px;
}

.environment-impact-logo{
    width: 40px;
    margin-right: 5px;
}

.environment-impact-row-1{
    display: flex;
    align-items: center;
}

.environment-impact-stats{
    margin: 20px 0px;
}

.view-leaderboard-button{
    background-color: white;
    border: 1px solid var(--primary-border-color);
    border-radius: 5px;
    box-shadow: var(--primary-box-shadow);
    font-size: 12px;
    padding: 5px;
}

/* search section */
.search-section{
    position: relative;
    height: 180px;
    padding:  10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.message-box{
    margin-bottom: 7px;
    font-weight: 700px;
}

/* @media (max-width: 999px){ */
    .search-container{
        background-color: white;
        padding: 20px 15px;
        border: var(--primary-border-color);
        box-shadow: var(--primary-box-shadow);
        border-radius: 10px;
        width: 418px;
        height: 100px;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
     }
/* } */ 

/* @media (min-width: 1000px){
    .search-container{
        background-color: white;
        padding: 20px 15px;
        border: var(--primary-border-color);
        box-shadow: var(--primary-box-shadow);
        border-radius: 10px;
        margin: 20px 10px 0px 10px;
        position: absolute;
        left: 20px;
        right: 20px;
        height: 100px;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
} */




.search-field{
    background-color: var(--grey-bg-color);
    border: 1px solid var(--primary-border-color);
    padding: 5px 10px;
    border-radius: 5px;
}



.field-1{
    margin-top: 0px;
}

.scanner-container{
    margin-top: 20px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.start-scan-button{
    width: 30px;
    height: 30px ;

    display: flex;
    justify-content: center;
    align-items: center;
}

.start-scan-button:hover, .stop-scan-button:hover{
    cursor: pointer;
}

.scanner-icon{
    width: 25px;
}

.stop-scan-button{
    width: 150px;
    height: 25px ;

}

.start-scan-button, .stop-scan-button{
    background-color: var(--grey-bg-color);
    box-shadow: var(--primary-box-shadow);
    border: 1px solid var(--primary-border-color);
    border-radius: 3px;
}

.qr-room-code-row{
    display: flex;
    justify-content: space-between;
}

.roomcode-search-field{
    background-color: var(--grey-bg-color);
    border: 1px solid var(--primary-border-color);
    padding: 5px 10px;
    border-radius: 5px;
    width: 170px;;
}

.roomcode-button{
    background-color: var(--button-green);
    color: white;
    padding: 6px 5px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.5s;
}

.roomcode-button:hover{
    background-color:rgb(25, 194, 138);
    cursor: pointer;
}




@media (max-width:600px){
    .available-rides-section , 
    .requested-rides-section{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .ride-card{
        background-color: white;
        margin: 15px 0px 0px 0px;
        border: 1px solid var(--primary-border-color);
        box-shadow: var(--primary-box-shadow);
        border-radius: 10px;
        width: 418px;

        display: flex;
        flex-direction: column;
        padding: 15px;
    
    }
}

@media (min-width:601px){
    .available-rides-section ,
    .requested-rides-section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }

    .ride-card{
        background-color: white;
        margin: 15px 0px 0px 0px;
        border: 1px solid var(--primary-border-color);
        box-shadow: var(--primary-box-shadow);
        border-radius: 10px;
    
        display: flex;
        flex-direction: column;
        padding: 15px;
    
    }
}

@media (min-width:1000px){
    .available-rides-section, .requested-rides-section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
    }

    .ride-card{
        background-color: white;
        margin: 15px 10px 0px 10px;
        border: 1px solid var(--primary-border-color);
        box-shadow: var(--primary-box-shadow);
        border-radius: 10px;
    
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 15px;
    
    }
}

.ride-card{
    background-color: white;
    margin: 15px 10px 0px 10px;
    border: 1px solid var(--primary-border-color);
    box-shadow: var(--primary-box-shadow);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    padding: 15px;

}

.ride-card-row-1{
    display: flex;
    justify-content: space-between;
}

.locations{
    font-size: 15px;
}

.ride-status{
    background-color: var(--grey-bg-color);
    padding: 3px 5px;
    border: var(--primary-border-color);
    border-radius: 5px;
    height: 15px;
}

.ride-card-row-2{
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.driver-details{
    display: flex; 
    flex: 3;
}

.driver-pfp{
    height: 40px;
    width: 40px;
    object-fit: cover;
    margin-right: 5px;
}

.view-button-container{
    display: flex;
    justify-content: flex-start;

    flex: 2;
}

.view-profile-button{
    padding: 5px 7px;
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 12px;
    transition: border 0.5s;
    width: 110px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.view-profile-button:hover{
    border: 2px solid var(--button-green);
    cursor: pointer;
}

.user-logo{
    width: 20px;
}

.ride-card-row-3{
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.ride-card-row-4{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.clock-logo, .users-logo{
    margin-right: 7px;
    width: 15px;
}

.request-ride-button{
    margin-top: 10px;
    background-color: var(--button-green);
    color: white;
    padding: 6px 0px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.5s;
}

.request-ride-button:hover{
    background-color:rgb(25, 194, 138);
    cursor: pointer;
}

/* Cancel request button */
.requested-rides-title{
    margin: 30px 10px 0px 15px;
    font-size: 20px;
    font-weight: 700;
}

.cancel-request-button{
    width: 130px;
    background-color: var(--grey-bg-color);
    border: 1px solid var(--primary-border-color);
    box-shadow: var(--primary-box-shadow);
    border-radius: 3px;
    margin-top: 10px;
    padding: 3px 0px;
    transition: background-color 0.5s;
}

.cancel-request-button:hover{
    cursor: pointer;
    background-color: var(--green-bg-color);
}

.accepted-info-container{
    background-color: var(--green-bg-color);
    height: 80px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.accepted-info-container button{
    background-color: white;
    border: none;
    padding: 3px 7px;
    box-shadow: var(--primary-box-shadow);
    border-radius: 3px;
}

.accepted-info-container button:hover{
    cursor: pointer;
}

/* driver pop up */
.driver-popup-container{
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.driver-popup{
    width: 400px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid var(--primary-border-color);
    box-shadow: var(--primary-box-shadow);
    padding: 0px 20px 20px 20px;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.close-driver-popup-button{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    transition: box-shadow 0.5s;

    position:absolute;
    right: 15px;
    top: 15px;
}

.close-driver-popup-button:hover{
    box-shadow: 0px 0px 5px var(--button-green);
    cursor: pointer;
}

.close-driver-popup-icon{
    width: 10px;
    height: 10px;
}


.driver-popup-row-1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 270px;

    
}

.popup-pfp{
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.popup-role{
    background-color: var(--green-bg-color);
    padding: 3px 8px;
    border-radius: 5px;
}

.stars i{
    color: lightgrey;
    font-size: 18px;
}
.stars i.highlighted{
    color: gold;
    font-size: 18px;
}

.driver-popup-row-2{
    display: flex;
    justify-content: space-between;
}

.driver-popup-row-2 div{
    height: 75px;
    width: 180px;
    border: 1px solid var(--primary-border-color);
    border-radius: 10px;
    box-shadow: var(--primary-box-shadow);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-container, .license-container{
    background-color: var(--grey-bg-color);
    box-shadow: var(--primary-box-shadow);
    border: 1px solid var(--primary-border-color);
    border-radius: 10px;
    padding: 15px;
}

.contact-container p, .license-container p{
    margin-top: 5px;
}

.license-status-container{
    display: flex;
    justify-content: space-between;
}

.license-status-container div{
    background-color: var(--button-green);
    color: white;
    padding: 3px 8px;
    border: none;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}