*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 13px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
}

body{
  background-color: rgb(241, 245, 249);
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 103px;
  padding-bottom: 73px;
}
:root{
  --primary-border-color : rgb(226, 232, 240);
  --primary-box-shadow : 0px 1px 3px #d2dae4;
  --grey-bg-color : rgba(226,232,240,0.3);
  --green-bg-color: rgba(5,150,105,0.1);
  --grey : #64748b; /* for grey text */
  --dark-green : #059669; /* for green text */
  --button-green : rgb(16, 185, 129);
}

.bold{
  font-weight: 700;
}

.semi-bold{
  font-weight: 500;
}

.grey-text{
  font-size: 12px;
  color: var(--grey);
}

.bold-green-text{
  font-weight: 700;
  color: var(--dark-green);
  font-size: 25px;
}

.hidden{
  display: none;
}

/* header */
.header{
  width: 100%;
  height: 50px;
  background-color: rgb(255, 255, 255);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  font-weight: 700;
  padding-left: 10px;
}

.logo{
  width: 30px;
  margin-right: 20px;
}

.go-back{
  width: 100px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.go-back-logo{
  width: 15px;
  margin-right: 5px;
}



/* environmental impact */
.environment-impact-section{
  display: flex;
  justify-content: center;
}

.environment-impact-container{
  background-color: var(--green-bg-color);
  padding: 15px;
  margin: 20px 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  border: 1px solid var(--primary-border-color);
  box-shadow: var(--primary-box-shadow);
  width: 418px;
}

.environment-impact-logo{
  width: 40px;
  margin-right: 5px;
}

.environment-impact-row-1{
  display: flex;
  align-items: center;
}

.environment-impact-stats{
  margin: 20px 0px;
}

.view-leaderboard-button{
  background-color: white;
  border: 1px solid var(--primary-border-color);
  border-radius: 5px;
  box-shadow: var(--primary-box-shadow);
  font-size: 12px;
  padding: 5px;
}