body{
  margin: 0px;
  font-family: Arial;
  font-size: 13px;
  background-color: rgb(244, 244, 244);
}

p{
  margin: 0;
}

h1{
  margin: 0;
}

:root{
  --primary-border-color : rgb(226, 232, 240);
  --primary-box-shadow : 0px 1px 3px #d2dae4;
  --grey-bg-color : rgba(226,232,240,0.3);
  --green-bg-color: rgba(5,150,105,0.1);
  --grey : #64748b; /* for grey text */
  --dark-green : #059669; /* for green text */
  --button-green : rgb(16, 185, 129);
}

.bold{
  font-weight: 700;
}

.semi-bold{
  font-weight: 500;
}

.grey-text{
  font-size: 12px;
  color: var(--grey);
}

.bold-green-text{
  font-weight: 700;
  color: var(--dark-green);
  font-size: 25px;
}